<table class="table table-bordered table-hover">
    <tr class="sonata-ba-view-title">
        <th>Id</th>
        <th>Price</th>
        <th>Screenshot</th>
        <th>Name</th>
        <th>Color</th>
        <th>Texture</th>
        <th>Print File</th>
    </tr>
    {% for item in object.orderItems %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.price }}</td>
            <td><img src="{{ item.screenshotUrl }}" alt="" width="200"></td>
            <td>{{ item.name }}</td>
            <td><span style="color: {{ item.color }}">{{ item.color }}</span></td>
            <td><img src="{{ item.textureUrl }}" alt="" width="100"></td>
            <td><a href="#" class="js-get-print" data-img="{{ item.textureUrl }}" data-logos='{{ item.logos|raw }}'>Generate print file</a></td>
        </tr>
    {% endfor %}
</table>
<div class="rc__print-file">
    <div style="width: 300px; margin: 40px auto;">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 1800.2 2313.2" style="enable-background:new 0 0 1800.2 2313.2;" xml:space="preserve" id="print-file">
                    <style type="text/css">
                        .st0 {
                            fill: #E6E7E8;
                        }

                        .st1 {

                        }
                    </style>
                    <g id="bleed">
                        <path class="st0" d="M908.1,527.5c-0.1,2.9-0.1,11.5,5.3,15.5c4,2.9,7.4,3,10.1,3.1c0,0,0.8,0,1,0c2.7,0,6.4-0.6,7.9-0.9
                c1.1-0.2,2.5-0.6,4.1-1.2l0.6-0.2c1.2-0.4,4.5-1.5,4.9-1.7c0.3-0.1,0.6-0.2,0.9-0.4l176.9-97c1.6-0.9,2.7-2.5,2.9-4.3
                s-0.5-3.6-1.8-4.9l-9.4-8.6v-5.7l2.4-4.3l5-2.8l43.1,4.3c0.2,0,0.4,0,0.6,0h5.8c1,0,1.9-0.2,2.7-0.7l6.4-3.5c0.8-0.4,1.5-1.1,2-1.8
                l79.9-121.1c0.1-0.1,0.1-0.2,0.2-0.3c7.7-13.2,7.5-15.9,7.4-17.3c-0.1-1.8-0.4-4.8-14.1-17.5c-0.1-0.1-0.2-0.2-0.3-0.3l-69.5-56
                c-0.2-0.1-0.3-0.3-0.5-0.4c-0.1-0.1-3-1.9-5.4-3.1c-2.5-1.2-5.4-2.6-5.6-2.6c-0.3-0.1-0.5-0.2-0.8-0.3l-234.8-65
                c-1.1-0.4-6.1-1.9-11.5-1.9c-4.3,0-7.9,1-10.7,2.9c-8.6,5.8-8.6,19.5-8.6,21.4L908.1,527.5z"/>
                        <path class="st0" d="M885.9,527.5c0.1,2.9,0.1,11.5-5.3,15.5c-4,2.9-7.4,3-10.1,3.1c0,0-0.8,0-1,0c-2.7,0-6.4-0.6-7.9-0.9
                c-1.1-0.2-2.5-0.6-4.1-1.2l-0.6-0.2c-1.2-0.4-4.5-1.5-4.9-1.7c-0.3-0.1-0.6-0.2-0.9-0.4l-176.9-97c-1.6-0.9-2.7-2.5-2.9-4.3
                s0.5-3.6,1.8-4.9l9.4-8.6v-5.7l-2.4-4.3l-5-2.8l-43.1,4.3c-0.2,0-0.4,0-0.6,0h-5.8c-1,0-1.9-0.2-2.7-0.7l-6.4-3.5
                c-0.8-0.4-1.5-1.1-2-1.8l-79.9-121.1c-0.1-0.1-0.1-0.2-0.2-0.3c-7.7-13.2-7.5-15.9-7.4-17.3c0.1-1.8,0.4-4.8,14.1-17.5
                c0.1-0.1,0.2-0.2,0.3-0.3l69.5-56c0.2-0.1,0.3-0.3,0.5-0.4c0.1-0.1,3-1.9,5.4-3.1c2.5-1.2,5.4-2.6,5.6-2.6c0.3-0.1,0.5-0.2,0.8-0.3
                l234.8-65c1.1-0.4,6.1-1.9,11.5-1.9c4.3,0,7.9,1,10.7,2.9c8.6,5.8,8.6,19.5,8.6,21.4L885.9,527.5z"/>
                        <path class="st0" d="M1308,254.8c18.9,27.2,74.9,92.1,93.3,113.4c1.3,1.5,2.4,2.8,3.3,3.8c-0.2,8.3-6.1,46.8-11,78
                c-7.8,50.5-12.5,81.7-11.8,88.6c0.2,1.8,0.3,3.4,37.9,57.5c0.2,0.3,0.4,0.6,0.6,0.9c1.1,1.4,2.3,2.8,40.6,21.5
                c22.2,10.8,52,25,82,39c31.8,14.9,61.3,28.4,83.1,38.1c39.6,17.6,42.4,17.6,44.2,17.6c0.8,0,1.6-0.1,2.3-0.4c2.9-1.1,5.6-4,5.6-8.4
                c0-12.4-4.9-42.5-6.4-46.9c-1.1-3.2-6.4-9.2-26.6-31c-18.2-19.6-40.8-44-49.8-57.3c-33-49-65.5-124.5-77.9-169.2
                c-7.4-26.8-17.3-111-17.4-111.8c-5.4-54.9-4.9-92.1-4.7-112c0.1-10.7,0.1-14.5-0.5-16.9c-0.4-1.5-1.5-5.9-39.5-48.2
                c-24.2-26.9-48.4-52.2-64.7-67.7c-13.2-12.5-27.7-19.4-40.8-19.4c-3.4,0-6.6,0.5-9.6,1.4c-6.2,2-12.5,4.8-17,12.3
                c-3.4,5.6-5.7,13.5-8.4,28.1c-7.1,39.6-15.8,107.5-18.2,142.6c0,0.6-0.1,1.3-0.1,1.9c-0.5,7.1-1.2,15.9,2.8,28
                C1301.3,244,1305.7,251.4,1308,254.8z"/>
                        <path class="st0" d="M168.7,711.6c0.7,0.3,1.5,0.4,2.3,0.4c1.9,0,4.7,0,44.3-17.6c21.8-9.7,51.3-23.2,83.1-38.1
                c29.9-14,59.8-28.2,82-39c38.3-18.7,39.5-20.1,40.6-21.5c0.2-0.3,0.4-0.6,0.6-0.9c37.6-54.1,37.7-55.7,37.9-57.5
                c0.7-6.9-4-38.1-11.8-88.6c-4.8-31.2-10.8-69.7-11-78c0.9-1,2-2.3,3.3-3.8c18.4-21.3,74.4-86.2,93.3-113.4
                c2.3-3.3,6.7-10.8,8.6-16.7c4-12.1,3.3-20.9,2.8-28c0-0.6-0.1-1.3-0.1-1.9c-2.4-35-11.1-103-18.2-142.6c-2.6-14.7-5-22.6-8.4-28.1
                c-4.5-7.5-10.9-10.4-17-12.3c-2.9-0.9-6.2-1.4-9.6-1.4c-13.2,0-27.7,6.9-40.8,19.4C434.2,57.7,410,83,385.8,109.9
                c-38,42.3-39.1,46.7-39.5,48.2c-0.6,2.4-0.6,6.2-0.5,16.9c0.3,20,0.7,57.2-4.7,111.9c-0.1,0.8-9.9,85.1-17.4,111.9
                C311.4,443.5,278.9,519,245.9,568c-9,13.3-31.6,37.7-49.8,57.3c-20.3,21.9-25.5,27.8-26.6,31c-1.5,4.4-6.4,34.5-6.4,46.9
                C163.1,707.7,165.9,710.6,168.7,711.6z"/>
                        <path class="st0" d="M1253.7,1451.1c0.3-1.5-0.1-3.1-1.1-4.4s-2.4-2-3.9-2.2c0,0-36.2-3.6-36.2-3.6c0,0-0.3,0-0.7,0
                c-4.1,0-7.2,1.8-8.4,4.9c-0.5,1.2-2.4,6.7-3.1,9.5c-0.6,2.6-1.5,5.2-1.9,6c-0.6,0.7-2.6,1.8-3.6,2c-1.5,0.4-4.2,0.6-7.1,0.6
                c-3.5,0-6.9-0.3-8.6-0.8c-1.6-0.5-3.7-1.4-4.4-1.8c-1-1.2-1.5-3.4-1.5-4.3c0,0-2.6-45.3-2.6-45.3c-0.1-2.3-1.6-4.3-3.8-5
                c-0.2-0.1-0.4-0.1-0.5-0.1c4.6-3,9.1-6.2,13.7-9.4c2.2-1.6,2.8-3.8,3.1-8.1c0-0.2,0-0.4,0-0.5l-0.5-52.4c0-2.3-1.4-4.4-3.6-5.2
                c-0.7-0.3-1.4-0.4-2.1-0.4c-1.5,0-3,0.6-4.1,1.7l-0.2,0.2c-2.5,2.1-29.2,23.9-74.9,45.7c-44,21-115,46.3-203.7,47.5
                c-2,0-3.9,0-5.8,0h0c-82.5,0-151.3-23.6-194.5-43.3c-46.9-21.5-74.6-43.2-74.9-43.4c-1-0.8-2.3-1.2-3.5-1.2c-0.8,0-1.7,0.2-2.5,0.6
                c-2,1-3.2,3-3.2,5.2l0.6,52.4c0,1.3,0.5,2.5,1.3,3.5c0.2,0.2,1.1,1.4,2.4,2.3c40.3,30.7,87.9,53.7,141.6,68.3
                c53.3,14.5,101.4,17.5,132.4,17.5c3.9,0,7.9,0,11.7-0.1c100.8-2.5,179-24.8,255.9-73.6c-8.8,8.6-29.1,26.7-60.5,45
                c-39.9,23.4-106.5,52.1-197.4,56.3c-4.6,0.2-9.3,0.3-13.9,0.3c-74.1,0-139.9-27.6-182.1-50.8c-45.9-25.2-74.6-50.8-74.8-51.1
                c-1.1-1-2.4-1.5-3.8-1.5c-0.8,0-1.6,0.2-2.3,0.5c-2,0.9-3.4,2.9-3.4,5.2l0.1,45.2c0,0.2,0,0.3,0,0.5c0.1,1.3-0.1,3.5-0.5,4.3
                c-0.6,0.5-0.9,1-1.2,1.4c-0.4,0.2-1.2,0.6-3.3,1.4c-1.7,0.6-8.5,1.2-13.9,1.4c-2.1-0.2-4.6-0.5-5.7-0.7c-0.3-0.3-0.8-1-1-1.2
                c-0.4-0.9-0.8-3.3-1.1-4.9c-0.2-1.3-0.5-2.5-0.7-3.5c-1.3-5.3-3.9-8.7-7.8-10c-0.6-0.2-2.6-0.9-7.7-0.9c-0.6,0-0.9,0-0.9,0
                c-0.1,0-0.3,0-0.4,0l-32.9,3.3c-1.6,0.2-3.1,1-4,2.3c-0.9,1.3-1.3,2.9-1,4.5c0.4,2,43.6,205.6,87.6,314.8
                c10.8,26.9,39.9,80.5,57.6,106.2c72.2,104.7,204,209.2,205.3,210.3c0.5,0.4,1,0.7,1.5,0.9l13.8,5.1c0.6,0.2,1.3,0.4,2,0.4
                c0.6,0,1.2-0.1,1.7-0.3l9.6-3.1c0.5-0.2,1-0.4,1.4-0.7c1.2-0.8,28.6-19.3,67.2-54.8c35.6-32.7,87.4-86.3,132.7-156.5
                c23.1-35.9,54-99.1,70.3-143.7C1221.8,1641.6,1253.4,1453,1253.7,1451.1z"/>
                        <path class="st0" d="M605.1,1794.5l-9.5-42c0-0.1,0-0.2-0.1-0.3l-71.1-257c-0.5-1.7-1.7-3.1-3.3-3.7c-0.7-0.3-1.4-0.4-2.2-0.4
                c-1,0-1.9,0.2-2.8,0.7l-95.2,53.8c-2.2,1.3-3.3,3.9-2.7,6.4c1,3.6,95.2,361.9,104.9,450.3c0,0.1,0,0.2,0,0.2l9.7,63.3
                c0,0.2,0.1,0.4,0.1,0.6c3.2,11.8,10.1,21.4,18.3,25.5c1.7,1,4.9,2.6,7.9,3c3.7,0.5,7.1,0.8,10.6,0.8c2.7,0,5-0.1,7.3-0.3
                c2.2-0.1,4.3-0.3,6.6-0.3c0.3,0,0.7,0,1,0c0.2,0,0.4,0,0.5,0c0.2,0,0.3,0,0.5-0.1c0.6,0,2.1,0.2,3.8,1.9c2.6,2.6,6.9,10.1,6.7,30.5
                c-0.2,10.2-1.2,28.6-3.2,34.2c-2.2,6.1-6,11.6-31.2,16.6c-2.6,0.5-4.5,2.8-4.6,5.5l-0.2,71.3c0,1.6,0.7,3.2,1.9,4.2
                c1,0.9,2.4,1.4,3.8,1.4c0.2,0,0.4,0,0.7,0c14-1.6,18.1-2,22-2.4c1.8-0.2,3.5-0.4,6-0.6c12.6-1.4,19.1-3.6,22.4-7.8
                c5.7-7.1,5.3-25.7,5.1-31.8c0.3-4.3,3.1-51.7,3.5-129c0.2-5.5,4.4-103,3.2-136.6C624.1,1910.8,614.4,1835.5,605.1,1794.5z"/>
                        <path class="st0" d="M1370.1,1542.6l-95.2-53.8c-0.9-0.5-1.8-0.7-2.8-0.7c-0.7,0-1.5,0.1-2.2,0.4c-1.6,0.7-2.8,2-3.3,3.7l-71.1,257
                c0,0.1,0,0.2-0.1,0.3l-9.5,42c-9.3,41-19,116.4-20.5,158.1c-1.2,33.6,2.9,131.1,3.2,136.6c0.4,77.3,3.2,124.7,3.5,129
                c-0.3,6.1-0.6,24.7,5.1,31.8c3.3,4.2,9.8,6.4,22.4,7.8c2.5,0.3,4.2,0.4,6,0.6c4,0.4,8.1,0.8,22,2.4c0.2,0,0.4,0,0.7,0
                c1.4,0,2.7-0.5,3.8-1.4c1.2-1.1,1.9-2.6,1.9-4.2l-0.2-71.3c0-2.7-1.9-5-4.6-5.5c-25.2-5.1-29-10.5-31.2-16.6c-2-5.6-3-24-3.2-34.2
                c-0.2-20.4,4.1-27.9,6.7-30.5c1.7-1.7,3.2-1.9,3.8-1.9c0.2,0.1,0.4,0.1,0.5,0.1c0.1,0,0.3,0,0.5,0c0.3,0,0.7,0,1,0
                c2.3,0,4.4,0.1,6.6,0.3c2.3,0.1,4.6,0.3,7.3,0.3c3.5,0,6.9-0.2,10.6-0.8c2.8-0.4,5.8-1.8,7.9-3c8.2-4.2,15.1-13.7,18.3-25.5
                c0.1-0.2,0.1-0.4,0.1-0.6l9.7-63.3c0-0.1,0-0.2,0-0.2c9.8-88.4,104-446.7,104.9-450.3C1373.4,1546.5,1372.3,1543.9,1370.1,1542.6z"
                        />
                        <path class="st0" d="M604.3,602.7c-2-2.3-6.7-4.3-10.3-5.5c-0.6-0.2-1.2-0.3-1.8-0.3c0,0-71.8-1.1-71.8-1.1c-0.4,0-0.7,0-1.1,0.1
                c-3.5,0.7-9.7,2.2-12.5,4.1c-2.8,1.9-6.3,7.3-8.2,10.4L473,650.3c-0.4,0.6-0.6,1.2-0.8,1.9c-0.6,2.8-1.9,9.6-1.5,13
                c0.4,2.8,2.7,7.7,4,10.3c0.3,0.6,0.7,1.1,1.2,1.6l94.5,89c0.7,0.6,1.5,1.1,2.4,1.3c0.6,0.2,5.8,1.5,9.6,1.5c1.4,0,2.6-0.2,3.7-0.6
                c3.1-1.1,6.1-4.9,8-7.8c0.6-0.8,0.9-1.8,0.9-2.8l0.5-9.7c4.1-47.8,10.7-120.4,12-127.5C609.6,615.3,607.6,606.3,604.3,602.7z"/>
                        <path class="st0" d="M1200.2,598.9c-3.6,1.3-8.3,3.3-10.3,5.5c-3.3,3.7-5.3,12.6-3.3,17.8c1.3,7.1,7.8,79.7,12,127.5l0.5,9.7
                c0.1,1,0.4,2,0.9,2.8c1.9,2.9,4.9,6.7,8,7.8c1.1,0.4,2.3,0.6,3.7,0.6c3.8,0,9-1.4,9.6-1.5c0.9-0.2,1.7-0.7,2.4-1.3l94.5-89
                c0.5-0.5,0.9-1,1.2-1.6c1.3-2.6,3.6-7.5,4-10.3c0.4-3.4-0.9-10.2-1.5-13c-0.1-0.7-0.4-1.3-0.8-1.9l-25.7-39.9
                c-1.9-3.1-5.4-8.4-8.2-10.4c-2.8-1.9-9-3.4-12.5-4.1c-0.4-0.1-0.7-0.1-1.1-0.1c0,0-71.8,1.1-71.8,1.1
                C1201.4,598.6,1200.8,598.7,1200.2,598.9z"/>
                        <path class="st0" d="M630.9,759.1h531.3c9.4,0,17-7.6,17-17V619.8c0-9.4-7.6-17-17-17H630.9c-9.4,0-17,7.6-17,17v122.3
                C613.8,751.5,621.5,759.1,630.9,759.1z"/>
                        <path class="st0" d="M614,1320.3c4.5,0.1,215.6,4.7,286.8,4.7h0.6c67.7,0,270.9-4.6,275.4-4.7c9.3,0,16.9-7.7,16.9-17V782.6
                c0-9.4-7.6-17-17-17H614c-9.4,0-17,7.6-17,17v520.7C597,1312.6,604.6,1320.2,614,1320.3z"/>
                        <path class="st0" d="M455.6,1491l26.1,1.6c0.7,0.1,3.8,0.4,6.6,0.4c2.1,0,3.6-0.2,4.9-0.6c1.6-0.5,6.7-2.9,8.3-6.8
                c1.3-3.1,1.1-7.1,0.9-10.9c-0.1-1.8-0.2-4.7,0-5.6l0.1-0.4c1.1-3.4,2.3-7.3,6-10c1.7-1.3,7.9-2.9,14-3.7c2.3-0.3,9-0.9,11.4-1.1
                c1.9-0.2,3.6-1.3,4.5-3l21.5-40.5c0.5-0.9,0.7-1.9,0.7-3l-0.2-4.3c0-0.9-0.3-1.7-0.7-2.5c-0.4-0.7-40.1-70.9-51.4-95
                c-3.8-8-13.2-32.4-14.3-35.4l-2.8-10.6c-0.2-0.9-0.7-1.7-1.3-2.4l-5.6-6.2c-0.1-0.1-0.3-0.3-0.4-0.4c-0.1-0.1-11.7-10.7-18.2-29.8
                c-5.6-16.2-8.7-69.8-8.8-70.3c0-0.7-0.2-1.4-0.5-2c0,0,24-443.2,24-443.2c0.1-2.2-1-4.2-2.9-5.3L409,662.8
                c-0.7-0.4-6.2-3.5-10.7-5.1c-1.9-0.7-4-1-6.1-1c-3.2,0-5.6,0.7-6.6,1.1c0,0-282.9,77.7-282.9,77.8c-0.8,0.3-20.6,6.4-29.8,23.4
                c-10.3,19.1-10.6,38.7-10.6,41.4l-38.8,511.3c-0.9,5.1-2,16.4,5.5,19.2c1.6,0.6,3.5,0.9,5.5,0.9c3.8,0,7.1-1.2,8-1.5
                c1.2-0.4,13.3-4.3,31.6-7.9c-9.2,3.2-22.1,8.2-42.6,16.8c-1.9,0.8-3.3,2.6-3.5,4.7c-0.1,1.3-2.8,32.7-1.3,43.8
                c0.5,3.8,3,10.1,5.3,13.1c2.1,2.9,8.2,7.2,10.8,8.9l22,15.7c-4.1,5.7-10.5,14.9-12.6,19.4c-2.6,5.3-6.4,27.2-6.3,36.1
                c0,2.4,0,3.7,52.7,87.7c24.6,39.2,49.5,78.6,51.6,82c0.9,1.7,4.9,9.3,9.8,13.4c5.1,4.3,34.8,23.8,46.9,30.2
                c15.8,8.4,25,14,34.7,19.9c17.2,10.4,36.6,22.1,97.4,53l0.5,0.3c2.6,1.4,5.4,2.7,8.2,2.7c2.5,0,4.1-1,5.1-1.9
                c1.7-1.6,3.2-3.9,1.9-14.1c-5.9-65.1-14.7-163.5-14.8-168.1c0-3.6,3-13.1,4.8-18.9c1.4-4.5,2.2-6.9,2.4-8.5l0.1-0.4
                c0.5-3.7,0.8-5.4,0-48c1.8,1,3.8,1.2,5.4,1.2c2.2,0,4.5-0.4,4.8-0.4c0.1,0,0.2,0,0.4-0.1l79.7-18.2L455.6,1491z"/>
                        <path class="st0" d="M1764,1333.2c-20.5-8.6-33.5-13.7-42.6-16.8c18.2,3.6,30.3,7.5,31.6,7.9c0.9,0.3,4.3,1.5,8,1.5
                c2,0,3.8-0.3,5.5-0.9c7.6-2.8,6.4-14.1,5.5-19.2l-38.8-511.3c0-2.7-0.3-22.4-10.6-41.4c-9.2-17-28.9-23.1-29.8-23.4
                c0,0-282.9-77.8-282.9-77.8c-1-0.3-3.5-1.1-6.6-1.1c-2.1,0-4.2,0.3-6.1,1c-4.5,1.6-10,4.7-10.7,5.1l-68.4,37.4
                c-1.9,1-3.1,3.1-2.9,5.3c0,0,24,443.2,24,443.2c-0.3,0.6-0.4,1.3-0.5,2c0,0.5-3.2,54.1-8.8,70.3c-6.5,18.9-18.1,29.7-18.2,29.8
                c-0.1,0.1-0.3,0.3-0.4,0.4l-5.6,6.2c-0.6,0.7-1,1.5-1.3,2.4l-2.8,10.6c-1.1,3-10.5,27.3-14.3,35.4c-11.3,24.1-51,94.3-51.4,95
                c-0.4,0.8-0.7,1.6-0.7,2.5l-0.2,4.3c-0.1,1,0.2,2,0.7,3l21.5,40.5c0.9,1.7,2.6,2.8,4.5,3c2.4,0.2,9.2,0.8,11.4,1.1
                c6.1,0.8,12.3,2.5,14,3.7c3.8,2.7,5,6.6,6,10l0.1,0.4c0.3,0.9,0.1,3.8,0,5.6c-0.2,3.8-0.4,7.8,0.9,10.9c1.6,3.9,6.6,6.3,8.3,6.8
                c1.2,0.4,2.7,0.6,4.8,0.6c2.7,0,5.9-0.3,6.6-0.4l26.1-1.6l18.2,1.7l79.7,18.2c0.1,0,0.2,0.1,0.4,0.1c0.3,0,2.5,0.4,4.8,0.4
                c1.5,0,3.6-0.2,5.4-1.2c-0.8,42.6-0.5,44.3,0,48l0.1,0.4c0.2,1.5,1,4,2.4,8.5c1.8,5.7,4.9,15.3,4.8,18.8
                c-0.1,4.6-8.9,103-14.8,168.1c-1.4,10.2,0.2,12.5,1.9,14.1c0.9,0.9,2.6,1.9,5.1,1.9c2.8,0,5.6-1.3,8.2-2.7l0.5-0.3
                c60.7-30.8,80.2-42.6,97.4-53c9.7-5.9,18.9-11.4,34.7-19.9c12.1-6.5,41.8-25.9,46.9-30.2c4.9-4.1,8.9-11.7,9.8-13.4
                c2.2-3.4,27.1-42.8,51.6-82c52.6-84,52.7-85.3,52.7-87.7c0.1-8.9-3.7-30.8-6.3-36.1c-2.2-4.5-8.6-13.7-12.6-19.4l22-15.7
                c2.6-1.7,8.7-6,10.8-8.9c2.2-3,4.8-9.3,5.3-13.1c1.5-11-1.2-42.4-1.3-43.8C1767.3,1335.8,1766,1334,1764,1333.2z"/>
                    </g>
                    <g id="template">
                        <g>
                            <path id="DoorRight_logo" class="st1" d="M1727.5,794.5l38.9,511.8c0,0,2.2,11.6-1.9,13.2c-4.2,1.6-9.6-0.6-9.6-0.6s-63.4-21.5-127.7-12
                    c-44.4,6.6-100.8,27.9-128.1,48.7c-25.3,19.3-47.4,47.9-52.6,68.9c-3.9,15.5,0.8,64.1,0.8,64.1s0.4,8.7-1.6,10.5
                    c-1.2,1.1-6.6,0.2-6.6,0.2l-80.1-18.3l-19-1.7l-26.6,1.7c0,0-7,0.8-9.2,0.1c-1.4-0.5-4.2-2.2-4.8-3.6c-1.5-3.7,0.5-12.2-0.7-16
                    c-1.2-3.7-2.8-9.4-8.3-13.3c-3.5-2.5-12.3-4.2-16.5-4.7c-2.9-0.4-11.7-1.1-11.7-1.1l-21.5-40.5l0.2-4.3c0,0,40.1-70.8,51.6-95.4
                    c4.1-8.8,14.6-36,14.6-36l2.8-10.9l5.6-6.2c0,0,12.7-11.5,19.8-32.2c5.9-17.1,9.1-71.8,9.1-71.8l68.8-3.6l-68.3,0.9l-24-443.2
                    l68.4-37.4c0,0,5.5-3.2,9.8-4.7c4.6-1.7,9.1,0.1,9.1,0.1l283,77.8c0,0,18.2,5.5,26.4,20.7C1727.9,774.6,1727.5,794.5,1727.5,794.5
                    z"/>
                            <path class="st1" d="M1761.8,1338.4c0,0,2.7,32,1.3,42.5c-0.4,2.8-2.5,8.2-4.2,10.5c-1.8,2.4-9.5,7.6-9.5,7.6l-26.7,19
                    c0,0,12.5,17.1,15.5,23.2c2,4.1,5.8,25,5.7,33.5c0,3.4-103.6,167-103.6,167s-4,8.1-8.5,11.9c-4.6,3.8-34,23.2-45.9,29.6
                    c-43.5,23.2-36.5,24.3-132,72.8c-1.7,0.9-6,3.3-7.4,2c-1.2-1.1-0.1-9.3-0.1-9.3s14.8-163.5,14.9-168.7c0-6.8-6.8-24.8-7.3-28.2
                    c-0.5-3.7-0.8-3.6,0.1-52c0,0-1-57-0.4-75.9c0.1-4.4,0.4-9.5,3.5-17c2.5-6,12.4-15,16.9-19.8c27.4-29.5,63.4-47.2,87.6-56.9
                    c19.5-7.8,52.9-13,66-14.4c12.5-1.4,51.1-3.8,76.6,1.5C1712.5,1319,1723.8,1322.4,1761.8,1338.4z"/>
                        </g>
                        <g>
                            <path id="DoorLeft_logo" class="st1" d="M68,800.5l-38.9,511.8c0,0-2.2,11.6,1.9,13.2c4.2,1.6,9.6-0.6,9.6-0.6s63.4-21.5,127.7-12
                    c44.4,6.6,100.8,27.9,128.1,48.7c25.3,19.3,47.4,47.9,52.6,68.9c3.9,15.5-0.8,64.1-0.8,64.1s-0.4,8.7,1.6,10.5
                    c1.2,1.1,6.6,0.2,6.6,0.2l80.1-18.3l19-1.7l26.6,1.7c0,0,7,0.8,9.2,0.1c1.4-0.5,4.2-2.2,4.8-3.6c1.5-3.7-0.5-12.2,0.7-16
                    c1.2-3.7,2.8-9.4,8.3-13.3c3.5-2.5,12.3-4.2,16.5-4.7c2.9-0.4,11.7-1.1,11.7-1.1l21.5-40.5l-0.2-4.3c0,0-40.1-70.8-51.6-95.4
                    c-4.1-8.8-14.6-36-14.6-36l-2.8-10.9l-5.6-6.2c0,0-12.7-11.5-19.8-32.2c-5.9-17.1-9.1-71.8-9.1-71.8l-68.8-3.6l68.3,0.9l24-443.2
                    l-68.4-37.4c0,0-5.5-3.2-9.8-4.7c-4.6-1.7-9.1,0.1-9.1,0.1l-283,77.8c0,0-18.2,5.5-26.4,20.7C67.6,780.6,68,800.5,68,800.5z"/>
                            <path class="st1" d="M33.7,1344.4c0,0-2.7,32-1.3,42.5c0.4,2.8,2.5,8.2,4.2,10.5c1.8,2.4,9.5,7.6,9.5,7.6l26.7,19
                    c0,0-12.5,17.1-15.5,23.2c-2,4.1-5.8,25-5.7,33.5c0,3.4,103.6,167,103.6,167s4,8.1,8.5,11.9c4.6,3.8,34,23.2,45.9,29.6
                    c43.5,23.2,36.5,24.3,132,72.8c1.7,0.9,6,3.3,7.4,2c1.2-1.1,0.1-9.3,0.1-9.3s-14.8-163.5-14.9-168.7c0-6.8,6.8-24.8,7.3-28.2
                    c0.5-3.7,0.8-3.6-0.1-52c0,0,1-57,0.4-75.9c-0.1-4.4-0.4-9.5-3.5-17c-2.5-6-12.4-15-16.9-19.8c-27.4-29.5-63.4-47.2-87.6-56.9
                    c-19.5-7.8-52.9-13-66-14.4c-12.5-1.4-51.1-3.8-76.6,1.5C83,1325,71.7,1328.4,33.7,1344.4z"/>
                        </g>
                        <g>
                            <g>
                                <path class="st1" d="M590,747.5l-0.5,9.8c0,0-3.2,4.9-5.2,5.6c-2.4,0.9-9.9-1.1-9.9-1.1l-94.5-89c0,0-3.1-6.2-3.4-8.5
                        c-0.4-2.8,1.4-11.1,1.4-11.1l25.7-40c0,0,4.4-7.2,6.6-8.7c2.2-1.5,10.3-3.2,10.3-3.2l71.8,1.1c0,0,6.5,2.3,7.9,4
                        c2.1,2.3,3.4,9.5,2.1,12.2C600.9,621.3,590,747.5,590,747.5z"/>
                            </g>
                            <g>
                                <path class="st1" d="M1204.3,749.3l0.5,9.8c0,0,3.2,4.9,5.2,5.6c2.4,0.9,9.9-1.1,9.9-1.1l94.5-89c0,0,3.1-6.2,3.4-8.5
                        c0.4-2.8-1.4-11.1-1.4-11.1l-25.7-40c0,0-4.4-7.2-6.6-8.7c-2.2-1.5-10.3-3.2-10.3-3.2l-71.8,1.1c0,0-6.5,2.3-7.9,4
                        c-2.1,2.3-3.4,9.5-2.1,12.2C1193.4,623.1,1204.3,749.3,1204.3,749.3z"/>
                            </g>
                            <path class="st1" d="M619.5,619.8c0-6.3,5.1-11.3,11.3-11.3h531.3c6.3,0,11.3,5.1,11.3,11.3v122.3c0,6.3-5.1,11.3-11.3,11.3H630.9
                    c-6.3,0-11.3-5.1-11.3-11.3V619.8z"/>
                            <path id="Roof_logo" class="st1" d="M602.7,782.6c0-6.3,5.1-11.3,11.3-11.3h562.7c6.3,0,11.3,5.1,11.3,11.3v520.7c0,6.3-5.1,11.3-11.3,11.3
                    c0,0-206.5,4.6-275.3,4.7c-71.8,0-287.3-4.7-287.3-4.7c-6.3,0-11.3-5.1-11.3-11.3V782.6z"/>
                        </g>
                        <path class="st1" d="M1272,1493.7l95.2,53.8c0,0-95.2,361.3-105.1,451.1l-9.7,63.3c-2.5,9.3-8,18.3-15.5,22c-0.1,0-3.4,2-6,2.4
                c-11.2,1.5-16.4,0-24.9,0.2c0,0-17.5-3.4-17.2,38.1c0,0,0.5,27.4,3.5,36c3.4,9.6,10.6,15.3,35.4,20.3l0.2,71.3
                c-20.2-2.3-20-2.2-28.1-3.1c-8.2-0.9-15.9-2.3-18.6-5.7c-4.9-6.1-3.8-28.3-3.8-28.3s-3.1-47.5-3.5-129.1c0,0-4.4-102.2-3.2-136.3
                c1.4-39.6,10.9-115.1,20.4-157.1c9.5-42,9.5-42,9.5-42L1272,1493.7z"/>
                        <path class="st1" d="M519,1496.7l-95.2,53.8c0,0,95.2,361.3,105.1,451.1l9.7,63.3c2.5,9.3,8,18.3,15.5,22c0.1,0,3.4,2,6,2.4
                c11.2,1.5,16.4,0,24.9,0.2c0,0,17.5-3.4,17.2,38.1c0,0-0.5,27.4-3.5,36c-3.4,9.6-10.6,15.3-35.4,20.3l-0.2,71.3
                c20.2-2.3,20-2.2,28.1-3.1c8.2-0.9,15.9-2.3,18.6-5.7c4.9-6.1,3.8-28.3,3.8-28.3s3.1-47.5,3.5-129.1c0,0,4.4-102.2,3.2-136.3
                c-1.4-39.6-10.9-115.1-20.4-157.1s-9.5-42-9.5-42L519,1496.7z"/>
                        <path class="st1" d="M1177,1336.1l0.5,52.4c0,0-0.3,3.7-0.8,4c-94.2,66.9-180.6,86.6-277.2,89c-76,1.9-190.2-14.3-282.1-84.4
                c-0.8-0.6-1.4-1.4-1.4-1.4l-0.6-52.4c0,0,113.7,90.2,278.8,88c174.1-2.3,282.4-94.7,282.4-94.7"/>
                        <g>
                            <path id="Front_logo" class="st1" d="M1165,1412.1l2.5,45.2c0,0,0.2,5,3.2,8.1c1.3,1.4,5,2.8,6.9,3.3c4.5,1.2,14,1.3,18.5,0.3
                    c2.2-0.5,5.9-2.6,7.1-4.5c0.8-1.2,1.9-5,2.6-7.8c0.5-2.3,2.3-7.3,2.9-8.8c0.6-1.5,3.4-1.3,3.4-1.3l36.1,3.6
                    c0,0-31.4,188.8-67.1,286.9c-17,46.8-48.2,109.3-69.7,142.6c-86.9,134.9-198.3,209.6-198.3,209.6l-9.6,3.1l-13.8-5.1
                    c0,0-131.6-103.8-204.1-209c-17-24.6-45.9-77.3-57-105.1c-44.3-110-87.3-313.8-87.3-313.8l32.9-3.3c0,0,4.6-0.1,6.7,0.6
                    c2.8,1,3.7,4.4,4.1,6c0.6,2.3,1.1,6.9,2,9.2c0.6,1.4,2.5,4,4.1,4.5c1.5,0.5,7.6,1.1,7.6,1.1s12.3-0.3,16.1-1.7
                    c6.3-2.3,5.2-2.8,6.5-4c2.7-2.5,2.1-8.8,2.1-8.8l-0.1-45.2c0,0,122.3,110.1,274.9,103C1076.6,1512.4,1165,1412.1,1165,1412.1z"/>
                            <path class="st1" d="M884.9,2005.2c0,0-0.8-39.3-0.5-39.3c0.3-0.1,0.2-3.5,1.6-6.3c1-2,4.9-4.3,7-4.8c4.3-1.2,12.8-0.1,18,0.4
                    c1.1,0.1,4.2,1.2,5.3,2.2c1.5,1.3,2.2,2.8,3,7.6l0.7,38.1l3.2,10.8l2.3-10.1l-0.2-45.9c0,0,0-1.4-1.2-3.5c-2.2-3.9-2.8-5-8-9
                    c-1.3-1-6.2-1.5-6.2-1.5s-11-0.9-18.4-0.2c-1.7,0.2-4.4,1.8-5.6,3c-1.7,1.8-4,3.8-5.5,8.5c-0.8,2.5-1.2,6.5-1.5,6.4
                    c-0.2-0.1,0.4,43,0.4,43l3,10L884.9,2005.2z"/>
                        </g>
                        <path class="st1" d="M453.8,536.9c-0.2,2-37.2,55.2-37.2,55.2c0.6,3-241.1,116.9-245.8,114.2c0,0-2-0.6-2-3.1
                c0-11.9,4.8-41.2,6.1-45.1c1.9-5.7,59.6-63.1,75.7-87c33.4-49.6,66.1-125.5,78.7-170.9c7.6-27.5,17.5-112.7,17.5-112.7
                c7.8-78.8,3.5-122,5-128.1c1.4-5.7,66.3-78.6,102.6-113.2c17.1-16.3,34.1-20.1,44.8-16.7c13.1,4.2,16.9,10.1,21.5,36.1
                c7,39.1,15.7,107.2,18.1,142c0.5,7.1,1.6,15.6-2.4,27.8c-1.8,5.4-5.9,12.4-7.9,15.2c-20.8,29.8-87.3,106.2-97.4,118
                C428.2,372,455.1,523.5,453.8,536.9z"/>
                        <path class="st1" d="M1387.5,537.9c0.2,2,37.2,55.2,37.2,55.2c-0.6,3,241.1,116.9,245.8,114.2c0,0,2-0.6,2-3.1
                c0-11.9-4.8-41.2-6.1-45.1c-1.9-5.7-59.6-63.1-75.7-87c-33.4-49.6-66.1-125.5-78.7-170.9c-7.6-27.5-17.5-112.7-17.5-112.7
                c-7.8-78.8-3.5-122-5-128.1c-1.4-5.7-66.3-78.6-102.6-113.2c-17.1-16.3-34.1-20.1-44.8-16.7c-13.1,4.2-16.9,10.1-21.5,36.1
                c-7,39.1-15.7,107.2-18.1,142c-0.5,7.1-1.6,15.6,2.4,27.8c1.8,5.4,5.9,12.4,7.9,15.2c20.8,29.8,87.3,106.2,97.4,118
                C1413.1,373,1386.1,524.5,1387.5,537.9z"/>
                        <path class="st1" d="M1249,260.5c0,0,12.1,11.3,12.3,13.9c0.2,2.3-6.6,14-6.6,14l-79.9,121.1l-6.4,3.5h-5.8l-44.8-4.5l-8,4.5
                l-3.8,7v9.6l11.2,10.2l-176.9,97c0,0-3.5,1.2-4.7,1.6c-1,0.3-2.9,1-3.9,1.2c-2.2,0.4-5.3,0.9-7.2,0.8c-2.7-0.1-4.8,0-7.5-2
                c-3.5-2.6-3-10.8-3-10.8l-3-376.7c0,0-0.3-12.3,6-16.6c6.2-4.1,17.4-0.2,17.4-0.2l235,65c0,0,2.9,1.3,5.4,2.5
                c2.2,1.1,4.9,2.8,4.9,2.8L1249,260.5z"/>
                        <path class="st1" d="M544.5,260.5c0,0-12.1,11.3-12.3,13.9c-0.2,2.3,6.6,14,6.6,14l79.9,121.1l6.4,3.5h5.8l44.8-4.5l8,4.5l3.8,7
                v9.6l-11.2,10.2l176.9,97c0,0,3.5,1.2,4.7,1.6c1,0.3,2.9,1,3.9,1.2c2.2,0.4,5.3,0.9,7.2,0.8c2.7-0.1,4.8,0,7.5-2
                c3.5-2.6,3-10.8,3-10.8l3-376.7c0,0,0.3-12.3-6-16.6c-6.2-4.1-17.4-0.2-17.4-0.2l-235,65c0,0-2.9,1.3-5.4,2.5
                c-2.2,1.1-4.9,2.8-4.9,2.8L544.5,260.5z"/>
                    </g>
        </svg>

    </div>
    <div style="width: 300px; margin: 40px auto; text-align: center; font-size: 30px; text-transform: uppercase">
        <a href="#" style="display: none" id="js-print-download">DOWNLOAD</a>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.3.2/svg.min.js"></script>
<script>
    var draw = SVG('print-file')
    var defColor = '#f1ef1d'

    var pattern = null
    var patternEls = SVG.select('.st1')


    $('.js-get-print').click(function (e) {
        e.preventDefault()
        var that = $(this);

        $('#print-file .logo, #print-file .patt').each(function() {
            this.instance.remove();
        })

        var logos = $(this).data('logos');
        var img = null;

        var frontLogo = logos.Front_logo;
        var frontPath = SVG.get('Front_logo');
        if(frontLogo) {
            img = draw.image(frontLogo, 400, 200).attr('class', 'logo').x(frontPath.cx() - 200).y(frontPath.cy() - 100);
        }

        var roofLogo = logos.Roof_logo;
        var roofPath = SVG.get('Roof_logo');
        if(roofLogo) {
            img = draw.image(roofLogo, 400, 200).attr('class', 'logo').x(roofPath.cx() - 200).y(roofPath.cy() - 100);
        }

        var doorLeftLogo = logos.DoorLeft_logo;
        var doorLeftPath = SVG.get('DoorLeft_logo');
        if(doorLeftLogo) {
            img = draw.image(doorLeftLogo, 400, 200).attr('class', 'logo').x(doorLeftPath.cx() - 280).y(doorLeftPath.cy() - 100).transform({ rotation: 90 });
        }

        var doorRightLogo = logos.DoorRight_logo;
        var doorRightPath = SVG.get('DoorRight_logo');
        if(doorRightLogo) {
            img = draw.image(doorRightLogo, 400, 200).attr('class', 'logo').x(doorRightPath.cx() - 120).y(doorRightPath.cy() - 100).transform({ rotation: -90 });
        }

        patternEls.style('fill: ')
        pattern = draw.pattern(1750, 2240, function(add) {
            add.image(that.data('img'), 1750, 2240)
        }).attr('class', 'patt');
        patternEls.fill(pattern)

        var svgData = $("#print-file")[0].outerHTML;
        var svgBlob = new Blob([svgData], {type:"image/svg+xml;charset=utf-8"});
        var svgUrl = URL.createObjectURL(svgBlob);
        var downloadLink = $("#js-print-download");
        downloadLink.show();
        downloadLink[0].href = svgUrl;
        downloadLink[0].download = "print-file.svg";

        return false
    });
</script>