<table class="table table-bordered table-hover">
    <tr class="sonata-ba-view-title">
        <th>Id</th>
        <th>Price</th>
        <th>Screenshot</th>
        <th>Name</th>
        <th>Color</th>
        <th>Texture</th>
        <th>Print File</th>
    </tr>
    {% for item in object.orderItems %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.price }}</td>
            <td><img src="{{ item.screenshotUrl }}" alt="" width="200"></td>
            <td>{{ item.name }}</td>
            <td><span style="color: {{ item.color }}">{{ item.color }}</span></td>
            <td><img src="{{ item.textureUrl }}" alt="" width="100"></td>
            <td><a href="#" class="js-get-print" data-img="{{ item.textureUrl }}" data-logos='{{ item.logos|raw }}'>Generate print file</a></td>
        </tr>
    {% endfor %}
</table>
<div class="rc__print-file">
    <div style="width: 300px; margin: 40px auto;">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg
                xmlns:dc="http://purl.org/dc/elements/1.1/"
                xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="print-file"
                viewBox="0 0 2333.0837 2984.2265"
                height="100%"
                width="100%">
            <defs
                    id="defs4">
                <clipPath
                        id="clipPath20"
                        clipPathUnits="userSpaceOnUse">
                    <path
                            id="path18"
                            d="M 0,14664.6 0,0 l 11464.9,0 0,14664.6 z" />
                </clipPath>
            </defs>
            <defs>
                <pattern id="camo" patternUnits="userSpaceOnUse" width="2056" height="2056">
                    <image xlink:href="/model/camo.png" x="0" y="0" width="2056" height="2056" />
                </pattern>
            </defs>
            <metadata
                    id="metadata7">
                <rdf:RDF>
                    <cc:Work
                            rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type
                                rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title></dc:title>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g
                    transform="translate(795.11325,759.75107)"
                    id="layer1">
                <g
                        transform="matrix(1.3333333,0,0,-1.3333333,-795.11335,2224.4754)"
                        id="g10">
                    <g
                            transform="scale(0.152624,0.152624)"
                            id="g12">
                        <g
                                id="g14">
                            <g
                                    clip-path="url(#clipPath20)"
                                    id="g16">
                                <path
                                        id="path22"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 5800.49,11356.9 c -0.94,-18.7 -0.52,-75.1 34.93,-101.3 25.94,-19.1 48.39,-19.7 66.44,-20.2 0,0 5.56,-0.1 6.73,-0.1 17.93,0 42.17,4.1 51.75,5.8 7.32,1.3 16.43,4.2 26.72,7.6 l 3.71,1.2 c 8.04,2.6 29.43,10.1 31.85,10.9 1.92,0.7 3.79,1.5 5.58,2.5 l 1159.12,635.8 c 10.48,5.8 17.56,16.3 19,28.2 1.44,11.9 -2.95,23.7 -11.86,31.8 l -61.33,56.1 0,37.1 15.53,28.5 32.89,18.4 282.2,-28.2 c 1.24,-0.1 2.49,-0.2 3.67,-0.2 l 37.8,0 c 6.23,0 12.39,1.6 17.89,4.6 l 42,23.1 c 5.24,2.9 9.76,7.1 13.1,12.1 l 523.7,793.1 c 0.4,0.6 0.79,1.2 1.12,1.8 50.45,86.5 48.94,104 48.22,113.4 -0.98,11.7 -2.62,31.2 -92.25,114.9 -0.66,0.6 -1.31,1.2 -2.03,1.8 l -455.3,366.6 c -1.05,0.8 -2.17,1.6 -3.35,2.3 -0.78,0.6 -19.78,12.6 -35.64,20.4 -16.57,8.2 -35.64,16.9 -36.43,17.2 -1.77,0.8 -3.6,1.5 -5.5,2 l -1538.46,425.7 c -7.52,2.5 -39.86,12.5 -75.33,12.5 -27.97,0 -51.57,-6.3 -70.14,-18.7 -56.54,-37.8 -56.39,-127.9 -56.1,-140.1 l 19.77,-2466.6" />
                                <path
                                        id="path24"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 5654.69,11356.9 c 0.94,-18.7 0.52,-75.1 -34.93,-101.3 -25.94,-19.1 -48.4,-19.7 -66.44,-20.2 0,0 -5.56,-0.1 -6.73,-0.1 -17.94,0 -42.17,4.1 -51.75,5.8 -7.32,1.3 -16.43,4.2 -26.72,7.6 l -3.71,1.2 c -8.04,2.6 -29.43,10.1 -31.86,10.9 -1.92,0.7 -3.78,1.5 -5.57,2.5 l -1159.09,635.8 c -10.51,5.8 -17.59,16.3 -19.02,28.2 -1.43,11.9 2.97,23.7 11.82,31.8 l 61.37,56.1 0,37.1 -15.53,28.5 -32.92,18.4 -282.18,-28.2 c -1.22,-0.1 -2.46,-0.2 -3.69,-0.2 l -37.78,0 c -6.25,0 -12.41,1.6 -17.89,4.6 l -41.98,23.1 c -5.28,2.9 -9.77,7.1 -13.09,12.1 l -523.74,793.1 c -0.39,0.6 -0.75,1.2 -1.1,1.8 -50.43,86.5 -48.98,104 -48.21,113.4 0.97,11.7 2.6,31.2 92.21,114.9 0.66,0.6 1.35,1.2 2.06,1.8 l 455.29,366.6 c 1.07,0.8 2.18,1.6 3.33,2.3 0.8,0.6 19.8,12.6 35.67,20.4 16.58,8.2 35.63,16.9 36.44,17.2 1.76,0.8 3.59,1.5 5.46,2 l 1538.48,425.7 c 7.52,2.5 39.86,12.5 75.32,12.5 27.98,0 51.58,-6.3 70.15,-18.7 56.54,-37.8 56.39,-127.9 56.1,-140.1 l -19.77,-2466.6" />
                                <path
                                        id="path26"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 8420.54,13144.1 c 124.1,-178.1 491.01,-603.1 611.57,-742.7 8.51,-9.9 15.79,-18.3 21.55,-25 -1.24,-54.6 -40.23,-306.6 -71.87,-511.1 -51.24,-330.9 -81.97,-535.1 -77.38,-580.2 1.18,-12 2.23,-22.4 248.39,-376.8 1.11,-2 2.36,-3.8 3.8,-5.6 7.33,-9 14.87,-18.2 266.14,-140.7 145.26,-70.8 341.03,-164 537.01,-255.7 208.25,-97.5 401.55,-186.1 544.15,-249.6 259.3,-115.4 277.7,-115.4 289.9,-115.4 5.3,0 10.4,1 15.1,2.8 18.7,6.9 36.8,26.2 36.8,55.2 -0.1,81.4 -32.4,278.5 -42.1,307.1 -7.2,21.3 -41.6,60 -174.5,203.4 -119,128.4 -267.1,288.2 -326,375.6 -216.2,321 -429.25,815.8 -510.37,1108.8 -48.61,175.4 -113.15,727.3 -113.68,732.2 -35.51,359.5 -32.43,603.2 -30.79,734.1 0.85,69.9 0.98,94.9 -3.01,110.8 -2.36,9.6 -9.63,38.8 -258.68,315.6 -158.49,176.1 -316.86,342 -423.85,443.8 -86.22,82.1 -181.23,127.4 -267.45,127.4 -22.34,0 -43.44,-3.2 -62.7,-9.4 -40.5,-13 -82.03,-31.7 -111.65,-80.8 -22.15,-36.6 -37.48,-88.3 -54.71,-184.4 -46.65,-259.2 -103.52,-704.5 -119.38,-934.1 -0.33,-4.1 -0.59,-8.2 -0.92,-12.4 -3.53,-46.4 -7.86,-104 18.09,-183.5 12.58,-38.6 41.34,-87.6 56.54,-109.4" />
                                <path
                                        id="path28"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 955.863,10150.7 c 4.699,-1.9 9.762,-2.8 15.121,-2.8 12.215,0 30.656,0 289.946,115.4 142.61,63.5 335.87,152.1 544.16,249.6 195.91,91.6 391.63,184.9 536.95,255.7 251.19,122.4 258.76,131.7 266.09,140.7 1.44,1.7 2.72,3.6 3.81,5.5 246.14,354.5 247.19,364.9 248.41,376.9 4.56,45.1 -26.2,249.3 -77.4,580.2 -31.65,204.5 -70.63,456.5 -71.88,511.1 5.78,6.7 13.02,15.1 21.55,24.9 120.56,139.7 487.47,564.6 611.57,742.8 15.17,21.8 43.94,70.7 56.55,109.3 25.97,79.6 21.61,137.2 18.1,183.5 -0.32,4.2 -0.63,8.4 -0.91,12.5 -15.87,229.6 -72.76,674.8 -119.38,934.1 -17.27,96.1 -32.61,147.8 -54.71,184.4 -29.62,49 -71.17,67.8 -111.66,80.8 -19.27,6.2 -40.38,9.3 -62.72,9.3 -86.2,0 -181.2,-45.2 -267.48,-127.3 -106.93,-101.8 -265.36,-267.7 -423.79,-443.8 -249.04,-276.8 -256.32,-306 -258.71,-315.6 -3.97,-15.9 -3.87,-40.9 -2.99,-110.9 1.64,-130.8 4.69,-374.5 -30.72,-733.4 -0.65,-5.5 -65.16,-557.4 -113.75,-732.9 -81.1,-292.9 -294.2,-787.7 -510.41,-1108.8 -58.82,-87.3 -206.95,-247.2 -325.97,-375.6 -132.86,-143.4 -167.367,-182 -174.542,-203.3 -9.676,-28.6 -41.993,-225.8 -42.043,-307.2 -0.028,-28.9 18.093,-48.2 36.808,-55.1" />
                                <path
                                        id="path30"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 8064.44,5305.64 c 1.7,10.16 -0.85,20.51 -7.14,28.7 -6.23,8.12 -15.6,13.36 -25.82,14.35 0,0 -237.18,23.52 -237.44,23.52 0,0 -1.71,0.13 -4.46,0.13 -26.6,0 -47.11,-12.12 -54.84,-32.37 -3.08,-8.06 -15.99,-44.09 -20.31,-62.37 -4,-16.84 -9.83,-34.14 -12.38,-39.45 -4,-4.45 -16.91,-11.86 -23.33,-13.36 -10.09,-2.29 -27.45,-3.74 -46.45,-3.74 -22.87,0 -45.02,2.1 -56.48,5.31 -10.62,2.95 -24.44,9.04 -28.63,12.05 -6.75,7.67 -9.57,22.48 -9.83,28.31 -0.07,0.33 -16.78,296.74 -16.78,296.74 -0.85,15.07 -10.67,28.04 -24.89,33.02 -1.18,0.4 -2.36,0.59 -3.48,0.86 29.88,19.98 59.76,40.49 89.64,61.71 14.34,10.16 18.08,25.23 20.5,53.08 0.07,1.18 0.13,2.35 0.13,3.53 l -3.14,343.66 c -0.2,15.07 -9.37,28.57 -23.39,34.14 -4.46,1.77 -9.11,2.62 -13.76,2.62 -9.89,0 -19.53,-3.87 -26.67,-11.27 l -1.31,-1.31 C 7517.93,6069.93 7342.73,5926.9 7043.76,5784 6755.67,5646.28 6290.27,5480.58 5709,5472.91 c -12.8,-0.2 -25.41,-0.26 -38.11,-0.26 l -0.12,0 c -540.24,0 -991.03,154.43 -1274.06,283.97 -307.36,140.67 -488.98,283.24 -490.77,284.61 -6.69,5.38 -14.86,8.06 -23.09,8.06 -5.55,0 -11.14,-1.24 -16.33,-3.79 -12.86,-6.29 -20.96,-19.4 -20.81,-33.75 l 3.72,-343.39 c 0.09,-8.39 3.02,-16.45 8.3,-23 1.16,-1.38 7.37,-8.84 15.75,-15.26 263.97,-201.41 576.12,-351.85 927.81,-447.24 349.27,-94.75 664.37,-114.6 867.2,-114.6 25.71,0 51.56,0.33 76.85,0.92 660.49,16.38 1172.82,162.23 1676.67,482.36 -57.92,-56.55 -190.53,-174.68 -396.2,-295.11 -261.49,-153.18 -698.07,-341.55 -1293.1,-369.2 -30.13,-1.38 -60.8,-2.1 -91.19,-2.1 -485.31,0 -916.64,181.03 -1193.04,332.91 -300.76,165.31 -488.53,332.91 -490.39,334.55 -6.95,6.29 -15.84,9.56 -24.85,9.56 -5.12,0 -10.28,-1.05 -15.14,-3.27 -13.4,-5.97 -22.03,-19.27 -22,-33.94 l 0.57,-295.89 c 0.01,-1.05 0.05,-2.1 0.15,-3.15 0.75,-8.65 -0.52,-23.26 -3.01,-28.17 -3.65,-3.54 -6.11,-6.75 -7.7,-8.98 -2.32,-1.24 -8.18,-4.13 -21.45,-9.11 -11.11,-4.12 -55.6,-7.86 -91.22,-8.91 -13.57,1.38 -30.18,3.48 -37.24,4.79 -2.26,2.22 -5.32,6.22 -6.24,8.19 -2.33,5.89 -5.21,21.68 -7.11,32.1 -1.55,8.58 -3.02,16.64 -4.66,23.19 -8.58,34.8 -25.73,56.88 -50.98,65.59 -4.2,1.44 -17,5.83 -50.72,5.83 -3.64,0 -5.91,-0.06 -5.91,-0.06 -0.92,0 -1.88,-0.07 -2.8,-0.13 l -215.85,-21.82 c -10.5,-1.05 -20.04,-6.55 -26.26,-15.07 -6.23,-8.45 -8.54,-19.27 -6.36,-29.55 2.83,-13.37 285.7,-1346.77 573.73,-2062.38 70.91,-176.19 261.37,-527.18 377.39,-695.57 472.84,-686.19 1336.5,-1370.82 1345.18,-1377.63 3.05,-2.42 6.47,-4.32 10.11,-5.7 l 90.37,-33.42 c 4.15,-1.57 8.51,-2.29 12.88,-2.29 3.82,0 7.64,0.59 11.32,1.77 l 63.19,20.18 c 3.32,1.05 6.48,2.62 9.38,4.52 7.54,5.11 187.62,126.72 440.35,358.86 232.94,213.99 572.8,565.57 869.15,1025.32 151.68,235.35 353.94,649.05 460.53,941.86 232.47,638.37 439.52,1873.94 441.55,1886.33" />
                                <path
                                        id="path32"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3815.13,3056.13 -62.01,274.86 c -0.13,0.59 -0.27,1.18 -0.42,1.77 l -465.88,1684 c -3.05,11.01 -11.01,20.05 -21.57,24.44 -4.57,1.9 -9.41,2.82 -14.23,2.82 -6.33,0 -12.63,-1.64 -18.28,-4.79 l -624.08,-352.82 c -14.69,-8.32 -21.93,-25.49 -17.64,-41.8 6.23,-23.66 623.49,-2371.51 687.4,-2950.52 0.06,-0.52 0.13,-1.04 0.2,-1.5 l 63.46,-415.01 c 0.22,-1.37 0.51,-2.81 0.88,-4.19 21.19,-77.51 66.04,-139.95 119.93,-167.01 11.12,-6.29 32.09,-16.77 51.56,-19.46 24.54,-3.35 46.62,-4.92 69.51,-4.92 17.42,0 32.83,0.92 47.73,1.77 14.48,0.85 28.15,1.71 43.4,1.71 2.18,0 4.41,0 6.66,-0.07 1.55,0 2.52,-0.13 3.37,-0.13 1.05,0 1.93,0.13 3.52,0.59 3.74,0 13.62,-1.25 24.87,-12.65 17.02,-17.16 45.39,-65.97 44.15,-199.572 -1.2,-67.16 -7.98,-187.386 -21.08,-224.078 -14.27,-40.035 -39.5,-75.875 -204.38,-109.027 -17.3,-3.473 -29.76,-18.672 -29.82,-36.297 L 3500.9,37.2812 C 3500.87,26.668 3505.38,16.5117 3513.3,9.43359 3520.14,3.34375 3528.96,0 3538.05,0 c 1.41,0 2.84,0.0664062 4.27,0.261719 91.45,10.613281 118.35,13.300781 144.35,15.921881 11.59,1.1797 22.86,2.293 39.42,4.1289 82.57,8.9102 125.14,23.7187 146.92,50.9727 37.1,46.4568 34.9,168.4528 33.1,208.2268 1.78,28.5 20.38,338.738 22.72,845.338 1.55,36.17 28.63,674.86 20.76,895.34 -9.76,273.42 -73.85,767.18 -134.46,1035.94" />
                                <path
                                        id="path34"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 8827.03,4706.06 -624.08,352.83 c -5.7,3.15 -11.99,4.78 -18.28,4.78 -4.85,0 -9.7,-0.92 -14.22,-2.81 -10.61,-4.4 -18.54,-13.37 -21.62,-24.44 L 7682.98,3352.41 c -0.13,-0.59 -0.33,-1.18 -0.46,-1.77 l -61.98,-274.85 c -60.61,-268.77 -124.69,-762.53 -134.45,-1035.95 -7.86,-220.47 19.2,-859.16 20.77,-895.33 2.29,-506.604 20.9,-816.842 22.67,-845.342 -1.77,-39.773 -4,-161.77 33.15,-208.2266 21.76,-27.2539 64.34,-42.0625 146.9,-50.9726 16.58,-1.836 27.85,-2.9493 39.44,-4.129 26.02,-2.621 52.88,-5.3086 144.34,-15.9218 1.38,-0.1953 2.82,-0.2618 4.26,-0.2618 9.11,0 17.89,3.3438 24.77,9.4336 7.93,7.0782 12.38,17.2344 12.38,27.8477 l -1.5,466.9645 c -0.07,17.625 -12.52,32.825 -29.82,36.297 -164.84,33.153 -190.07,68.992 -204.35,109.028 -13.11,36.691 -19.86,156.918 -21.1,223.75 -1.25,133.923 27.12,182.733 44.16,199.903 11.27,11.4 21.1,12.64 24.9,12.64 1.57,-0.45 2.42,-0.52 3.47,-0.52 0.85,0 1.83,0.07 3.41,0.07 2.22,0.06 4.45,0.06 6.61,0.06 15.27,0 28.97,-0.85 43.38,-1.7 14.94,-0.85 30.34,-1.77 47.76,-1.77 22.87,0 45.02,1.57 69.52,4.91 18.41,2.49 38,11.8 51.5,19.39 53.99,27.26 98.81,89.58 119.97,167.08 0.39,1.38 0.72,2.82 0.91,4.2 l 63.43,415 c 0.13,0.46 0.19,0.99 0.19,1.51 63.95,579 681.22,2926.86 687.44,2950.51 4.26,16.31 -2.94,33.48 -17.62,41.8" />
                                <path
                                        id="path36"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3810.09,10864.6 c -13.21,14.8 -43.88,27.9 -67.3,36.3 -3.84,1.4 -7.88,2.1 -11.96,2.2 0,0 -470.56,6.9 -470.74,6.9 -2.46,0 -4.91,-0.2 -7.31,-0.7 -22.71,-4.6 -63.5,-14.1 -81.66,-26.8 -18.22,-12.8 -41.28,-47.9 -53.55,-68 l -168.07,-261.6 c -2.44,-3.8 -4.17,-8 -5.1,-12.5 -3.83,-18.2 -12.44,-62.9 -9.55,-84.9 2.42,-18.4 17.49,-50.2 26.26,-67.5 1.94,-3.8 4.53,-7.3 7.67,-10.3 l 619.41,-582.93 c 4.45,-4.19 9.85,-7.21 15.74,-8.81 3.83,-1.04 38.08,-10.12 62.87,-10.12 9.41,0 17.36,1.24 24.29,3.8 20.25,7.47 39.68,31.93 52.41,51.13 3.66,5.53 5.78,11.92 6.14,18.53 l 3.43,63.6 c 27.09,313.2 69.86,788.7 78.43,835.3 13.07,33.7 -0.1,92.4 -21.41,116.4" />
                                <path
                                        id="path38"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 7714.23,10889.3 c -23.45,-8.4 -54.12,-21.5 -67.35,-36.3 -21.3,-24 -34.47,-82.7 -21.36,-116.5 8.52,-46.5 51.3,-522 78.43,-835.22 l 3.4,-63.59 c 0.33,-6.62 2.49,-13.01 6.16,-18.53 12.71,-19.21 32.17,-43.68 52.35,-51.14 6.94,-2.56 14.94,-3.8 24.31,-3.8 24.83,0 59.03,9.09 62.9,10.12 5.89,1.59 11.27,4.62 15.72,8.8 l 619.43,582.96 c 3.15,3 5.7,6.4 7.67,10.3 8.78,17.3 23.85,49 26.27,67.4 2.89,22.1 -5.76,66.8 -9.56,85 -0.92,4.4 -2.69,8.6 -5.12,12.4 l -168.05,261.7 c -12.25,20.1 -35.32,55.2 -53.6,68 -18.15,12.7 -58.9,22.2 -81.64,26.8 -2.35,0.4 -4.85,0.7 -7.27,0.7 -0.2,0 -470.76,-7 -470.76,-7 -4.07,0 -8.13,-0.7 -11.93,-2.1" />
                                <path
                                        id="path40"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3983.75,9839.88 3481.24,0 c 61.46,0 111.45,49.99 111.45,111.43 l 0,801.49 c 0,61.4 -49.99,111.4 -111.45,111.4 l -3481.24,0 c -61.44,0 -111.43,-50 -111.43,-111.4 l 0,-801.49 c 0,-61.44 49.99,-111.43 111.43,-111.43" />
                                <path
                                        id="path42"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3873.03,6163.11 c 29.66,-0.66 1412.43,-30.6 1879.18,-30.6 l 3.85,0 c 443.63,0.19 1775.17,29.94 1804.4,30.6 61.26,0.26 110.99,50.12 110.99,111.44 l 0,3411.34 c 0,61.45 -50,111.43 -111.45,111.43 l -3686.54,0 c -61.44,0 -111.43,-49.98 -111.43,-111.43 l 0,-3411.34 c 0,-61.32 49.75,-111.25 111,-111.44" />
                                <path
                                        id="path44"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 2835.27,5044.08 170.84,-10.81 c 4.71,-0.46 25.08,-2.56 43.05,-2.56 13.95,0 23.76,1.18 31.8,3.81 10.73,3.53 43.73,19.26 54.27,44.62 8.55,20.57 7.2,46.58 5.89,71.68 -0.6,11.53 -1.6,30.79 0.09,36.49 l 0.77,2.49 c 6.93,22.41 14.78,47.83 39.63,65.72 11.46,8.19 51.75,18.93 91.72,24.37 14.9,2.03 59.14,5.96 74.93,7.27 12.58,1.12 23.77,8.45 29.69,19.66 l 140.56,265.29 c 3.15,5.96 4.63,12.64 4.27,19.33 l -1.52,28.37 c -0.31,5.76 -1.94,11.33 -4.76,16.31 -2.62,4.66 -262.64,464.67 -336.86,622.32 -24.75,52.54 -86.23,212.28 -93.65,231.61 l -18.12,69.52 c -1.49,5.76 -4.33,11 -8.27,15.39 l -36.51,40.83 c -0.86,0.91 -1.77,1.83 -2.73,2.75 -0.76,0.65 -76.48,70.3 -119.45,195.38 -36.42,106.08 -57.32,457.07 -57.53,460.6 -0.27,4.53 -1.36,8.91 -3.12,12.85 0.01,0.13 157.47,2904.03 157.47,2904.03 0.77,14.2 -6.73,27.7 -19.28,34.6 l -448,244.8 c -4.52,2.5 -40.53,23 -69.83,33.4 -12.6,4.5 -26.11,6.8 -40.15,6.8 -20.71,0 -36.93,-4.9 -43.32,-7.2 0,0 -1853.439,-509.33 -1853.755,-509.43 -5.477,-1.66 -134.797,-42.07 -195.11,-153.3 -67.711,-124.88 -69.648,-253.5 -69.57,-271.48 L 4.34375,6219.58 c -6.0625,-33.28 -13.39844,-107.26 36.10155,-125.86 10.7813,-4 22.8047,-6.1 35.7344,-6.1 24.8123,0 46.7813,7.67 52.6833,9.9 8.071,2.68 87.407,28.37 206.942,51.96 -60,-20.71 -145.032,-53.99 -279.2034,-110.34 -12.7344,-5.37 -21.4493,-17.36 -22.6211,-31.12 -0.7422,-8.72 -18.0703,-214.39 -8.3399,-286.65 3.3906,-25.23 19.9063,-66.25 34.6485,-86.1 14.0351,-18.93 53.9139,-46.84 70.8949,-58.31 l 143.925,-102.67 c -26.547,-37.15 -68.535,-97.56 -82.808,-126.98 -16.84,-34.66 -41.852,-178.22 -41.164,-236.27 0.183,-15.66 0.285,-24.24 345.156,-574.54 161.113,-257.11 324.203,-514.86 338.398,-537.27 5.817,-11.47 32.051,-60.93 64.36,-87.93 33.59,-28.11 227.829,-155.68 307.189,-198.07 103.52,-55.23 163.72,-91.59 227.47,-130.05 112.53,-68.02 240.07,-145 637.86,-347 l 3.43,-1.77 c 17.2,-9.04 35.54,-17.82 53.95,-17.82 16.26,0 27,6.75 33.15,12.38 11.12,10.23 21.23,25.75 12.38,92.39 -38.71,426.6 -96.47,1071.52 -97.14,1101.46 -0.11,23.32 19.84,86.09 31.75,123.64 9.37,29.42 14.32,45.27 15.77,55.36 l 0.36,2.49 c 3.53,23.98 5.21,35.31 -0.02,314.37 11.77,-6.69 25.22,-7.67 35.06,-7.67 14.68,0 29.62,2.36 31.28,2.62 0.78,0.13 1.57,0.26 2.34,0.46 l 522.15,119.05 119.24,10.94" />
                                <path
                                        id="path46"
                                        style="fill:#e9eae9;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 11408.3,6078.45 c -134.2,56.35 -219.2,89.63 -279.2,110.27 119.4,-23.52 198.8,-49.2 206.9,-51.89 5.9,-2.23 27.8,-9.89 52.7,-9.89 12.9,0 24.9,2.03 35.7,6.09 49.5,18.61 42.2,92.58 36.1,125.86 l -254.4,3349.99 c 0.1,18 -1.8,146.61 -69.5,271.5 -60.3,111.23 -189.7,151.62 -195.2,153.32 -0.2,0.1 -1853.67,509.4 -1853.67,509.4 -6.42,2.3 -22.6,7.2 -43.37,7.2 -14.02,0 -27.52,-2.3 -40.1,-6.8 -29.29,-10.4 -65.26,-30.8 -69.84,-33.4 l -448.03,-244.8 c -12.51,-6.9 -20.05,-20.3 -19.27,-34.6 0,0 157.45,-2903.89 157.45,-2904.02 -1.77,-3.93 -2.82,-8.32 -3.08,-12.91 -0.2,-3.47 -21.1,-354.47 -57.53,-460.54 -42.58,-124.03 -118.78,-194.79 -119.44,-195.38 -0.98,-0.92 -1.9,-1.84 -2.75,-2.75 l -36.5,-40.82 c -3.93,-4.39 -6.81,-9.7 -8.25,-15.4 l -18.15,-69.52 c -7.41,-19.32 -68.93,-179.06 -93.63,-231.68 -74.23,-157.57 -334.28,-617.66 -336.9,-622.24 -2.82,-4.98 -4.46,-10.62 -4.72,-16.32 l -1.51,-28.37 c -0.39,-6.68 1.12,-13.43 4.26,-19.33 l 140.54,-265.29 c 5.9,-11.2 17.1,-18.61 29.68,-19.65 15.79,-1.32 60.02,-5.25 74.96,-7.28 39.97,-5.44 80.26,-16.18 91.73,-24.37 24.83,-17.89 32.69,-43.31 39.57,-65.72 l 0.79,-2.49 c 1.7,-5.7 0.72,-24.96 0.13,-36.5 -1.31,-25.15 -2.69,-51.1 5.83,-71.67 10.55,-25.29 43.57,-41.08 54.31,-44.62 8.06,-2.62 17.83,-3.8 31.78,-3.8 17.95,0 38.33,2.09 43.05,2.55 l 170.88,10.81 119.24,-10.94 L 9271,4953.4 c 0.78,-0.19 1.5,-0.33 2.35,-0.45 1.64,-0.27 16.58,-2.63 31.26,-2.63 9.82,0 23.26,0.98 35.05,7.67 -5.24,-278.99 -3.54,-290.39 0,-314.37 l 0.33,-2.49 c 1.44,-10.09 6.42,-25.94 15.79,-55.36 11.92,-37.48 31.84,-100.31 31.77,-123.44 -0.71,-30.14 -58.44,-675.06 -97.16,-1101.66 -8.85,-66.63 1.24,-82.16 12.38,-92.38 6.16,-5.64 16.91,-12.39 33.16,-12.39 18.41,0 36.69,8.78 53.92,17.76 l 3.4,1.83 c 397.78,201.94 525.35,278.99 637.85,346.93 63.7,38.53 124,74.89 227.5,130.13 79.4,42.32 273.6,169.95 307.2,198.06 32.3,27 58.6,76.46 64.3,87.93 14.3,22.41 177.3,280.17 338.5,537.27 344.9,550.3 344.9,558.89 345.1,574.55 0.7,58.05 -24.3,201.6 -41.1,236.26 -14.3,29.42 -56.3,89.83 -82.8,126.98 l 143.9,102.67 c 17,11.47 56.8,39.38 70.9,58.32 14.7,19.85 31.3,60.86 34.6,86.09 9.8,72.27 -7.6,277.93 -8.3,286.65 -1.2,13.76 -9.9,25.75 -22.6,31.12" />
                                <path
                                        id="path72"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 5648.44,1675.42 c 0,0 -4.95,257.23 -2.99,257.63 1.98,0.39 1.48,22.86 10.56,40.95 6.41,12.84 32.22,27.97 45.74,31.71 28.45,7.73 83.92,0.72 117.91,-2.69 7.07,-0.72 27.72,-8.19 34.99,-14.22 9.94,-8.19 14.33,-18.14 19.77,-50.05 l 4.78,-249.9 20.85,-70.69 15.05,66.17 -1.62,300.48 c 0,0 -0.09,9.3 -7.79,22.8 -14.72,25.75 -18.08,32.96 -52.56,58.84 -8.33,6.22 -40.55,9.56 -40.55,9.56 0,0 -71.92,6.03 -120.4,1.31 -11.13,-1.11 -28.75,-11.79 -36.46,-19.92 -11.41,-11.99 -26.45,-25.15 -36.06,-55.49 -5.2,-16.38 -8.18,-42.52 -9.61,-42 -1.44,0.59 2.43,-281.48 2.43,-281.48 l 19.59,-65.71 16.37,62.7" />
                                <path
                                        id="rightDoor" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 11169,9607.66 254.6,-3353.61 c 0,0 14.5,-76.21 -12.3,-86.23 -27.3,-10.28 -62.7,3.93 -62.7,3.93 0,0 -415.4,140.61 -836.7,78.36 -290.7,-42.98 -660.59,-183.13 -839.33,-318.95 -166.09,-126.19 -310.44,-313.71 -344.84,-451.56 -25.48,-101.82 5.38,-419.86 5.38,-419.86 0,0 2.55,-57.07 -10.36,-68.6 -8.12,-7.27 -43.5,-1.57 -43.5,-1.57 l -524.55,119.64 -124.56,11.4 -174.55,-11.01 c 0,0 -45.86,-5.11 -60.14,-0.46 -9.31,3.08 -27.72,14.48 -31.52,23.59 -10.09,24.24 2.95,79.81 -4.78,104.9 -7.67,24.5 -18.08,61.39 -54.25,87.34 -22.87,16.44 -80.4,27.25 -108.37,31.05 -19.07,2.62 -76.79,7.48 -76.79,7.48 l -140.54,265.29 1.5,28.37 c 0,0 262.48,464.07 338.16,624.73 27.12,57.59 95.46,236.14 95.46,236.14 l 18.61,71.48 36.49,40.75 c 0,0 83.08,75.29 129.67,210.91 38.52,112.11 59.49,470.44 59.49,470.44 l 450.58,23.32 -447.5,-5.96 -157.45,2903.73 448.42,245 c 0,0 36.23,21 64.01,30.8 30.47,10.8 59.69,-0.8 59.69,-0.8 l 1854.37,-509.57 c 0,0 119.5,-36.35 173.2,-135.46 67.6,-124.68 65.1,-255.01 65.1,-255.01" />
                                <path
                                        id="rightDoorLeft" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:;fill-rule:nonzero;stroke:none"
                                        d="m 11393.9,6044.18 c 0,0 17.8,-209.53 8.5,-278.59 -2.5,-18.34 -16.6,-53.98 -27.7,-68.93 -11.8,-15.98 -62.2,-49.86 -62.2,-49.86 l -174.8,-124.68 c 0,0 82.1,-111.84 101.5,-151.68 12.9,-26.73 38,-164 37.4,-219.62 -0.3,-22.15 -678.8,-1094 -678.8,-1094 0,0 -26.2,-53 -55.8,-77.77 -29.9,-24.96 -222.9,-152.14 -300.8,-193.75 -285.19,-152.07 -239.1,-159.01 -864.72,-476.72 -11.27,-5.7 -38.98,-21.75 -48.61,-12.91 -7.8,7.15 -0.59,60.81 -0.59,60.81 0,0 97.23,1071.58 97.42,1105.52 0.2,44.29 -44.75,162.36 -47.95,184.44 -3.48,23.98 -5.45,23.92 0.65,340.9 0,0 -6.49,373.54 -2.82,497.3 0.85,28.57 2.62,62.25 23.06,111.32 16.39,39.31 81.38,98.48 110.41,129.6 179.79,193.28 415.33,309.26 573.85,372.74 127.5,51.11 346.6,85.25 432.1,94.55 81.7,8.85 334.8,24.7 501.7,-10.15 55.1,-11.54 129.2,-33.88 378.2,-138.52" />
                                <path
                                        id="leftDoor" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="M 295.871,9568.35 41.2344,6214.73 c 0,0 -14.4961,-76.19 12.2656,-86.22 27.4023,-10.29 62.805,4 62.805,4 0,0 415.398,140.6 836.675,78.29 290.67,-42.98 660.57,-183.13 839.3,-318.89 166.08,-126.19 310.44,-313.77 344.87,-451.62 25.44,-101.83 -5.42,-419.86 -5.42,-419.86 0,0 -2.54,-57.07 10.4,-68.6 8.13,-7.21 43.49,-1.51 43.49,-1.51 l 524.56,119.64 124.56,11.34 174.56,-11.01 c 0,0 45.81,-5.11 60.09,-0.46 9.34,3.08 27.76,14.48 31.54,23.59 10.07,24.24 -2.97,79.8 4.8,104.9 7.61,24.57 18.04,61.39 54.21,87.34 22.89,16.44 80.44,27.25 108.36,31.05 19.12,2.62 76.83,7.47 76.83,7.47 l 140.56,265.29 -1.52,28.37 c 0,0 -262.46,464.08 -338.13,624.74 -27.13,57.59 -95.48,236.13 -95.48,236.13 l -18.63,71.49 -36.51,40.82 c 0,0 -83.07,75.21 -129.65,210.84 -38.5,112.11 -59.47,470.44 -59.47,470.44 l -450.62,23.32 447.5,-5.96 157.45,2903.74 -448.37,245 c 0,0 -36.29,21 -64.07,30.8 -30.46,10.8 -59.69,-0.8 -59.69,-0.8 L 534.203,9958.83 c 0,0 -119.523,-36.35 -173.262,-135.47 -67.601,-124.68 -65.07,-255.01 -65.07,-255.01" />
                                <path
                                        id="leftDoorRight" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 70.9922,6004.87 c 0,0 -17.836,-209.53 -8.5391,-278.52 2.4766,-18.42 16.6055,-54.06 27.668,-68.93 11.8829,-16.05 62.2339,-49.93 62.2339,-49.93 l 174.754,-124.62 c 0,0 -82.035,-111.84 -101.39,-151.75 -12.957,-26.66 -38.094,-163.92 -37.442,-219.62 0.262,-22.14 678.778,-1093.99 678.778,-1093.99 0,0 26.215,-53.01 55.82,-77.71 29.934,-25.03 222.915,-152.2 300.855,-193.81 285.11,-152.07 239.02,-159.01 864.66,-476.72 11.29,-5.7 39,-21.75 48.59,-12.91 7.79,7.14 0.58,60.87 0.58,60.87 0,0 -97.22,1071.52 -97.38,1105.46 -0.19,44.29 44.73,162.36 47.92,184.44 3.46,24.04 5.48,23.91 -0.61,340.9 0,0 6.46,373.53 2.78,497.36 -0.84,28.5 -2.59,62.18 -23.04,111.32 -16.37,39.25 -81.42,98.41 -110.41,129.6 -179.78,193.22 -415.36,309.19 -573.86,372.68 -127.51,51.11 -346.6,85.24 -432.148,94.55 -81.66,8.84 -334.761,24.7 -501.667,-10.16 -55.063,-11.47 -129.188,-33.87 -378.1528,-138.51" />
                                <path
                                        id="spoilerLeft" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3716.02,9915.5 -3.47,-64.19 c 0,0 -21.21,-31.99 -34.32,-36.83 -15.89,-5.86 -64.58,7.33 -64.58,7.33 l -619.41,582.99 c 0,0 -20.61,40.7 -22.56,55.5 -2.38,18.1 9.07,72.5 9.07,72.5 l 168.29,262 c 0,0 28.67,46.9 43.38,57.2 14.51,10.2 67.67,20.9 67.67,20.9 l 470.19,-7 c 0,0 42.39,-15.1 52.06,-26 13.46,-15.1 22.55,-62.5 13.87,-79.8 -8.67,-17.4 -80.19,-844.6 -80.19,-844.6" />
                                <path
                                        id="spoilerRight" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 7740.96,9903.89 3.48,-64.2 c 0,0 21.22,-31.99 34.33,-36.83 15.85,-5.86 64.6,7.34 64.6,7.34 l 619.36,583 c 0,0 20.65,40.6 22.61,55.5 2.36,18.1 -9.11,72.5 -9.11,72.5 l -168.25,262 c 0,0 -28.7,46.9 -43.38,57.2 -14.54,10.2 -67.68,20.8 -67.68,20.8 l -470.24,-6.9 c 0,0 -42.32,-15.2 -52.02,-26 -13.43,-15.2 -22.54,-62.5 -13.89,-79.8 8.71,-17.4 80.19,-844.61 80.19,-844.61" />
                                <path
                                        id="spoilerTop" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3909.46,10752.8 c 0,41 33.26,74.3 74.29,74.3 l 3481.24,0 c 41.02,0 74.3,-33.3 74.3,-74.3 l 0,-801.49 c 0,-41.03 -33.28,-74.29 -74.3,-74.29 l -3481.24,0 c -41.03,0 -74.29,33.26 -74.29,74.29 l 0,801.49" />
                                <path
                                        id="Roof" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3799.17,9685.89 c 0,41.03 33.26,74.29 74.29,74.29 l 3686.54,0 c 41.01,0 74.3,-33.26 74.3,-74.29 l 0,-3411.34 c 0,-41.08 -33.29,-74.3 -74.3,-74.3 0,0 -1352.9,-30.4 -1803.95,-30.59 -470.71,-0.14 -1882.59,30.59 -1882.59,30.59 -41.03,0 -74.29,33.22 -74.29,74.3 l 0,3411.34" />
                                <path
                                        id="rightWingFront" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 8184.67,5026.52 624.08,-352.82 c 0,0 -623.49,-2367.45 -688.42,-2955.89 l -63.49,-414.94 c -16.64,-61.06 -52.48,-119.77 -101.49,-144.01 -0.46,-0.27 -22.48,-13.17 -39.19,-15.47 -73.44,-10.09 -107.51,-0.32 -162.81,-1.18 0,0 -114.99,22.41 -112.5,-249.562 0,0 3.21,-179.722 23.26,-235.937 22.47,-62.965 69.58,-100.246 232.01,-132.941 l 1.5,-466.9653 c -132.67,15.3984 -130.78,14.2851 -184.04,20.0508 -53.6,5.832 -104.38,15.332 -121.87,37.2815 -31.98,40.035 -24.96,185.293 -24.96,185.293 0,0 -20.32,311.218 -22.74,846 0,0 -28.76,669.87 -20.83,893.04 9.3,259.26 71.61,754.2 133.59,1029.13 61.98,274.92 61.98,274.92 61.98,274.92 l 465.92,1684" />
                                <path
                                        id="leftWingFront" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3251.01,5006.87 -624.06,-352.83 c 0,0 623.45,-2367.45 688.39,-2955.88 l 63.46,-414.95 c 16.67,-61.06 52.52,-119.76 101.52,-144.07 0.48,-0.2 22.45,-13.11 39.17,-15.4 73.49,-10.09 107.53,-0.33 162.87,-1.18 0,0 114.97,22.41 112.44,-249.63 0,0 -3.21,-179.723 -23.24,-235.875 -22.45,-62.965 -69.61,-100.246 -232.03,-132.942 l -1.48,-466.9607 c 132.66,15.3946 130.75,14.2813 184.04,20.0469 53.61,5.832 104.34,15.332 121.89,37.2813 31.96,40.0355 24.93,185.2925 24.93,185.2925 0,0 20.32,311.219 22.77,845.997 0,0 28.75,669.88 20.79,893.04 -9.26,259.27 -71.57,754.21 -133.58,1029.13 -62,274.92 -62,274.92 -62,274.92 l -465.88,1684.01" />
                                <path
                                        id="FrontTop" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 7562.16,6058.99 3.14,-343.65 c 0,0 -2.09,-23.98 -4.98,-26.01 -617.13,-438.14 -1183.04,-567.34 -1815.91,-583 -497.86,-12.32 -1245.97,93.69 -1848.39,553.31 -5.29,4 -9.45,9.18 -9.45,9.18 l -3.71,343.32 c 0,0 744.75,-590.73 1826.63,-576.38 1140.66,15.07 1850.05,620.48 1850.05,620.48" />
                                <path
                                        id="Front" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 7483.47,5561.36 16.71,-295.82 c 0,0 1.05,-32.83 20.64,-53.33 8.58,-9.05 32.95,-18.28 44.94,-21.62 29.22,-8.2 91.73,-8.79 121.28,-1.97 14.61,3.34 38.46,16.9 46.46,29.61 4.91,7.87 12.71,32.5 17.03,50.78 3.6,15.01 15.2,47.96 18.87,57.66 3.73,9.7 22.21,8.45 22.21,8.45 l 236.2,-23.39 c 0,0 -205.86,-1237.15 -439.77,-1879.71 C 7476.39,3125.32 7271.97,2716.14 7131.1,2497.57 6561.66,1613.96 5832.15,1124.13 5832.15,1124.13 l -63.18,-20.18 -90.36,33.42 c 0,0 -862.47,680.03 -1337.59,1369.51 -111.11,161.24 -300.42,506.79 -373.53,688.42 -290.13,720.85 -571.83,2056.15 -571.83,2056.15 l 215.85,21.82 c 0,0 30.4,0.72 43.59,-3.8 18.06,-6.22 24.47,-28.96 27.04,-39.38 3.75,-15.13 7.52,-45.47 13.25,-60.01 3.73,-9.5 16.62,-26.08 26.98,-29.42 10.13,-3.28 49.73,-7.08 49.73,-7.08 0,0 80.68,2.03 105.54,11.27 41.08,15.33 33.82,18.68 42.28,26.41 17.54,16.12 13.9,57.85 13.9,57.85 l -0.57,295.89 c 0,0 801.19,-721.25 1801.18,-674.86 1169.71,54.25 1749.04,711.22 1749.04,711.22" />
                                <path
                                        id="leftWingBack" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 2823.39,11295.4 c -1.3,-12.8 -243.68,-361.8 -243.68,-361.8 3.95,-19.4 -1579.987,-765.8 -1610.409,-748.2 0,0 -13.117,4.1 -13.106,20.4 0.055,78.2 31.602,270.2 40.094,295.3 12.681,37.5 390.591,413.4 496.131,570.1 218.79,324.8 433.11,822.4 515.4,1119.6 49.92,180.3 114.85,738.5 114.85,738.5 50.96,516.5 22.82,799.4 32.85,839.6 9.27,37.2 434.14,515 672.07,741.5 112.33,106.9 223.32,132 293.24,109.5 85.62,-27.4 110.55,-66.1 141.17,-236.4 46.03,-256 103.12,-702.1 118.87,-930.1 3.2,-46.4 10.57,-102.2 -15.44,-181.8 -11.5,-35.2 -38.92,-81.3 -51.72,-99.7 -136.14,-195.4 -571.72,-695.9 -638.21,-773.3 -19.57,-22.8 156.79,-1015.3 147.89,-1103.2" />
                                <path
                                        id="rigthWingBack" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 8941.36,11288.8 c 1.31,-12.8 243.67,-361.8 243.67,-361.8 -3.93,-19.4 1579.97,-765.8 1610.47,-748.2 0,0 13.1,4.1 13.1,20.4 -0.1,78.2 -31.7,270.2 -40.1,295.3 -12.7,37.6 -390.7,413.4 -496.2,570.1 -218.8,324.9 -433.11,822.4 -515.41,1119.6 -49.92,180.3 -114.85,738.6 -114.85,738.6 -50.92,516.4 -22.81,799.3 -32.83,839.5 -9.24,37.2 -434.14,515 -672.04,741.5 -112.37,106.9 -223.36,132 -293.27,109.6 -85.63,-27.5 -110.53,-66.2 -141.13,-236.4 -46.06,-256.1 -103.13,-702.2 -118.92,-930.2 -3.21,-46.4 -10.55,-102.2 15.46,-181.8 11.47,-35.2 38.92,-81.2 51.7,-99.6 136.15,-195.5 571.73,-695.9 638.23,-773.4 19.59,-22.8 -156.79,-1015.2 -147.88,-1103.2" />
                                <path
                                        id="backRight" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 8033.64,13106.6 c 0,0 79.15,-73.9 80.59,-90.8 1.25,-15.2 -43.3,-91.6 -43.3,-91.6 l -523.77,-793.1 -41.94,-23.1 -37.8,0 -293.8,29.4 -52.48,-29.4 -25.16,-46.2 0,-63 73.45,-67.1 -1159.09,-635.8 c 0,0 -23.09,-8.1 -30.86,-10.6 -6.41,-2.1 -19.21,-6.4 -25.83,-7.7 -14.55,-2.6 -34.92,-5.5 -47.33,-5.2 -17.7,0.6 -31.12,0 -48.84,13.1 -22.95,16.9 -19.84,70.6 -19.84,70.6 l -19.78,2468.1 c 0,0 -2.22,80.5 39.62,108.5 40.49,27.1 113.88,1.5 113.88,1.5 l 1539.5,-425.9 c 0,0 19.19,-8.7 35.44,-16.7 14.16,-7 32.04,-18.4 32.04,-18.4 l 455.3,-366.6" />
                                <path
                                        id="backLeft" class="pattern"
                                        style="fill:#f1ef1d;fill-opacity:1;fill-rule:nonzero;stroke:none"
                                        d="m 3417.93,13106.6 c 0,0 -79.14,-73.9 -80.55,-90.8 -1.26,-15.2 43.28,-91.6 43.28,-91.6 l 523.74,-793.1 41.98,-23.1 37.77,0 293.81,29.4 52.47,-29.4 25.18,-46.2 0,-63 -73.45,-67.1 1159.09,-635.8 c 0,0 23.09,-8.1 30.86,-10.6 6.41,-2.1 19.21,-6.4 25.83,-7.7 14.55,-2.6 34.92,-5.5 47.33,-5.2 17.7,0.6 31.12,0 48.84,13.1 22.95,16.9 19.84,70.6 19.84,70.6 l 19.78,2468.1 c 0,0 2.22,80.5 -39.62,108.5 -40.49,27.1 -113.88,1.5 -113.88,1.5 l -1539.5,-425.9 c 0,0 -19.17,-8.7 -35.43,-16.7 -14.2,-7 -32.08,-18.4 -32.08,-18.4 l -455.29,-366.6" />
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <div style="width: 300px; margin: 40px auto; text-align: center; font-size: 30px; text-transform: uppercase">
        <a href="#" style="display: none" id="js-print-download">DOWNLOAD</a>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.3.2/svg.min.js"></script>
<script>
    var draw = SVG('print-file')
    var defColor = '#f1ef1d'

    var pattern = null
    var patternEls = SVG.select('path.pattern')


    $('.js-get-print').click(function (e) {
        e.preventDefault()
        var that = $(this);

        var logos = $(this).data('logos');
        var frontLogo = logos.Front_logo;

        $('#print-file .frontImage, #print-file .patt').each(function() {
            this.instance.remove();
        })

        if(frontLogo) {
            var img = draw.image(frontLogo, 512, 256).attr('class', 'frontImage').x(930).y(2200);
        }

        patternEls.style('fill: ')
        pattern = draw.pattern(2056, 2056, function(add) {
            add.image(that.data('img'), 2056, 2056)
        }).attr('class', 'patt');
        patternEls.fill(pattern)

        var svgData = $("#print-file")[0].outerHTML;
        var svgBlob = new Blob([svgData], {type:"image/svg+xml;charset=utf-8"});
        var svgUrl = URL.createObjectURL(svgBlob);
        var downloadLink = $("#js-print-download");
        downloadLink.show();
        downloadLink[0].href = svgUrl;
        downloadLink[0].download = "print-file.svg";

        return false
    });
</script>